.container {
  background: #1a202c;
  padding: 120px 80px;
}

.header > button {
  padding: 6px 16px;
  background: #8ace420a;
  border: 1px solid #8ace42;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #8ace42;
  line-height: 100%;
  border-radius: 100px;
}

.textFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.textFlex > h2 {
  padding-top: 15px;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  color: #ffffff;
}

.textFlex span {
  color: #8ace42;
}

.textFlex p {
  width: 350px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.others {
  color: #8ace42;
  font-style: italic;
  font-family: "Source Serif 4", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  margin-top: 80px;
  gap: 16px;
}

.gridItem {
  background: #212937;
  padding: 24px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 130px;
  justify-content: space-between;
}

.otherTexts > h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #8ace42;
  padding-bottom: 12px;
}

.otherTexts > p {
  color: #ffffffcc;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

@media (max-width: 768px) {
  .container {
    padding: 80px 12px;
  }

  .textFlex {
    flex-direction: column;
    align-items: start;
  }

  .textFlex > h2 {
    font-size: 24px;
    line-height: 100%;
    margin-bottom: 12px;
  }

  .grid {
    grid-template-columns: 2fr;
  }

  .gridItem {
    gap: 48px;
  }
}
