.container {
  padding: 120px 80px;
  background: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imgHead {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
  justify-content: space-between;
}

.colOne > h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
  padding-bottom: 12px;
}

.colOne > button {
  border: 1px solid #005629;
  padding: 6px 16px;
  background: #8ace420a;
  border-radius: 100px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #005629;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.colOne > p {
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 26px;
}

.col {
  background: #fbf5ea;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 130px;
  border-radius: 24px;
}

.otherCol > :nth-child(5) {
  background: #006a2f;
  color: #ffffff;
}

.otherCol > :nth-child(5) p {
  color: #ffffffcc !important;
}

.col > div > h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 12px;
}

.col > div > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #000000cc;
}

.otherCol {
  width: 100%;
  overflow: hidden;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 16px;
}

.otherCol > * {
  grid-column: span 2;
}

.otherCol > :nth-child(4) {
  grid-column: span 3;
}

.otherCol > :nth-child(5) {
  grid-column: span 3;
}

@media (max-width: 768px) {
  .container {
    padding: 80px 12px;
  }

  .header {
    flex-direction: column;
  }

  .imgHead > h2 {
    font-size: 24px;
    line-height: 100%;
  }

  .imgHead > p {
    padding-bottom: 40px;
  }

  .otherCol {
    grid-template-columns: 2fr;
  }

  .col {
    gap: 48px;
  }
}
