.container {
  background: linear-gradient(180deg, #1a1a18 0%, rgba(26, 26, 24, 0) 100%),
    url("../../public/assets/footerMap.png") center / cover no-repeat;
  background-position: center;
  background-repeat: no-repeat;
}

.container > p {
  padding: 100px 0px 40px 0px;
  text-align: center;
  color: #818180;
}

@media (max-width: 768px) {
  .container > p {
    padding: 57px 0px 20px 0px;
  }
}
